<!DOCTYPE html>
<!https://realpython.com/blog/python/web-development-with-flask-fetching-data-with-requests/>
<html>
  <head>
    <title>Sloth Visualizer Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href={{ url_for('static', filename='./bower_components/bootstrap/dist/css/bootstrap.min.css') }} rel="stylesheet" media="screen">
    <link href={{ url_for('static', filename='main.css') }} rel="stylesheet" media="screen">
  </head>
  <body>

	<h1>I/O Example</h1>
	<output id=result>?</output>


    <div class="container">
   <div id="chart"></div>
    </div>
    <script src={{ url_for('static', filename='./bower_components/jquery/dist/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/bootstrap/dist/js/bootstrap.min.js') }}></script>
    <script src={{ url_for('static', filename='./bower_components/d3/d3.min.js') }}></script>
    <script src={{ url_for('static', filename='main.js') }}></script>



  </body>
</html>

